body {
    background-color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    margin: 50px;
    }

h1 {
    color: white;
    
}

a {
    display: block;
    width: 200px;
    margin: 20px;
    margin-bottom: 10px;
    background: rgb(241, 146, 4);
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
}

#buscador {
    width: 100%;
    max-width: 500px;
    padding: 12px;
    margin: 20px;
    border-radius: 8px;
    border-color: white;
    font-size: 16px;
    background-color: black;
    color: white;
}

a:hover {
    background: rgb(255, 145, 0);
    transform: translateX(5px);
}

h2 { 
    color: white;
}

P {
    color: white;
    margin: 20px;
}

details {
    margin: 20px;
}

summary {
    cursor: pointer;
    width: 290px;
    padding: 12px;
    background: #25D366;
    color: white;
    border-radius: 8px;
    font-weight: bold;
}

.grupo-links {
    margin-top: 10px;
}
